
openapi: 3.0.0
info:
  title: API Hestia - Mais Pré Pagos
  description: API para intermediação de pagamentos entre premiadores e premiados.
  version: "1.0.0"

servers:
  - url: https://api.maisprepagos.com/hestia

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AuthRequest:
      type: object
      required:
        - user
        - password
      properties:
        user:
          type: string
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        token:
          type: string

    DadosPagamentoBancario:
      type: object
      properties:
        agencia:
          type: string
        digito_agencia:
          type: string
        conta:
          type: string
        digito_conta:
          type: string
        tipo_conta:
          type: string
        valor_premiacao:
          type: number
          format: float

    DadosPagamentoPix:
      type: object
      properties:
        tipo_chave:
          type: string
          enum: [1, 2, 3, 4]
        chave:
          type: string
        valor_premiacao:
          type: number
          format: float

    Premiado:
      type: object
      required:
        - cpfcnpj
        - nome
        - id_referencia
        - numero_banco
        - identificacao
        - dados_do_pagamento
      properties:
        cpfcnpj:
          type: string
        codigo_premiador:
          type: string
        codigo_premiado:
          type: string
        nome:
          type: string
        id_referencia:
          type: string
        numero_banco:
          type: string
        identificacao:
          type: string
          enum: [ted, pix, doc]
        dados_do_pagamento:
          oneOf:
            - $ref: "#/components/schemas/DadosPagamentoBancario"
            - $ref: "#/components/schemas/DadosPagamentoPix"

    Premiador:
      type: object
      required:
        - cnpj_premiador
        - id_referencia
        - premiados
      properties:
        cnpj_premiador:
          type: string
        id_referencia:
          type: string
        premiados:
          type: array
          items:
            $ref: "#/components/schemas/Premiado"

    EnvioPremiacoesRequest:
      type: object
      required:
        - valor_total
        - premiadores
      properties:
        valor_total:
          type: number
          format: float
        premiadores:
          type: array
          items:
            $ref: "#/components/schemas/Premiador"

    ProtocoloStatus:
      type: object
      properties:
        id_referencia:
          type: string
        cnpj_premiador:
          type: string
        protocolo:
          type: string
        status:
          type: string
        mensagem:
          type: string
        detalhes:
          type: object
          properties:
            valor_pago:
              type: number
              format: float
            data_pagamento:
              type: string
              format: date
            cod_autenticacao:
              type: string
            data_cancelamento:
              type: string
              format: date
            motivo_cancelamento:
              type: string

paths:
  /hestia/v7/auth:
    post:
      summary: Autenticação da empresa contratante
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRequest"
      responses:
        "200":
          description: Token JWT gerado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"

  /hestia/premiações:
    post:
      security:
        - bearerAuth: []
      summary: Envio de ordens de premiação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvioPremiacoesRequest"
      responses:
        "200":
          description: Resposta com os protocolos de premiação
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success, error]
                    example: "success"
                  mensagem:
                    type: string
                    example: "Requisição processada com sucesso"
                  protocolos:
                    type: array
                    items:
                      type: object
                      properties:
                        id_referencia:
                          type: string
                          example: "ref_premio_001"
                        cnpj_premiador:
                          type: string
                          example: "12345678000199"
                        protocolo:
                          type: string
                          example: "abc123def001"
                        status:
                          type: string
                          enum: [success, error, pendente]
                          example: "pendente"
                        mensagem:
                          type: string
                          example: "Premiação em processamento"

    get:
      security:
        - bearerAuth: []
      summary: Consulta status de uma premiação por protocolo
      parameters:
        - in: query
          name: protocolo
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Status da premiação
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtocoloStatus"
